
.todo {
  padding-left: 0;
  margin-left: 0;
  width: 100%;

  .description:hover,
  .remove:hover {
    cursor: pointer;
  }

  &.done .title {
    text-decoration: line-through;
  }

  .remove {
    color: #999;

    &:hover {
      color: inherit;
    }
  }

  .check-container {
    margin-left: 10px;

    .check {
      position: relative;
      vertical-align: middle;
      bottom: 3px;
    }
  }

  .description,
  .title-input {
    display: inline-block;
    width: 85%;
    margin-left: 10px;
  }
}
