
.sortable-placeholder {
  opacity: .4;
}

.action-bar {
  margin-bottom: 10px;

  .action:not(:first-child) {
    margin-left: 10px;
  }

  .show-done-toggle {
    width: 94px;
  }
}

.header .btn {
  margin-top: 24px;
}

.add-todo {
  margin-bottom: 10px;
}

.show-done-toggle[data-show="false"] + .done-to-bottom {
  display: none;
}

.notice {
  margin-left: 10px;
}

.todos {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

  &.hide-done .todo.done {
    display: none !important; /* hack, plz remove later */
  }
}
